{% extends 'base.html.twig' %}

{% block body %}
    <h4>Bienvenue {{ utilisateur.prenom }} {{ utilisateur.nom|upper }} !</h4>

    <p>Un nouveau compte a été créé avec l'addresse mail <b>{{ utilisateur.email }}</b></p>
{% endblock %}
